:host {
  font-family: VAR(--primary-font) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  letter-spacing: 0.727273px !important;
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  padding-right: 8px !important;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 8px !important;
}

mat-header-cell, mat-cell.center-cell {
  display: flex;
  justify-content: center;
  text-align: center;
}

mat-header-cell {
  font-weight: bold;
  font-size: 12px;
}


.content-box {
  max-width: 100% !important;
  width: 100% !important;
  position: relative !important;
}

table {
  max-width: 100%;
}


.empty-table-image {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: contain;
  padding-top: 32px;
}

.empty-table-image-box {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.empty-table {
  display: block;
  align-items: center;
  justify-content: center;

  background-color: white;
}

.empty-table-text {
  height: 100px;
  font-size: 18px;
  color: darkgray;
  text-align: center !important;

  &.error {
    a {
      color: VAR(--color-primary);

      &:hover {
        color: VAR(--color-primary-darker);
      }

      &:active {
        color: VAR(--color-primary-lighter);
      }
    }
  }
}

.loading-table {
  background-color: rgba(106, 106, 106, 0.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding-top: 120px;
  padding-bottom: 150px;
  position: absolute !important;
  width: auto !important;
  height: auto !important;
}

.loading-table-box {
  text-align: center;
  display: table;
}

.loading-table-box > ng-lottie, .spinner-box {
  display: table-cell;
  vertical-align: middle;
  horiz-align: center;
}

.loading-table-box > .spinner-box > .spinner-row {
  display: inline-block;
}

.icon-display {
  transform: none;
}

.gray-icon {
  fill: lightgray;
  color: lightgray;
}
