.content {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6001;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;

  .content-panel {
    margin: auto;
    width: 100%;
    max-width: 380px;
    border-radius: 8px;
    padding: 15px 30px 50px;
    box-sizing: border-box;


    .main {

      min-height: 600px;
      margin: 0 auto;
      width: auto;
      max-width: 460px;
      display: flex;
      align-items: center;
      justify-content: center;

      img{

        width: 100%;
        height: 80%;
        object-fit: contain;
      }

    }
  }

}
