:host {
  padding-right: 8px !important;
  font-family: VAR(--primary-font) !important;

  font-style: normal !important;
  font-weight: 400 !important;
  letter-spacing: 0.727273px !important;
}


mat-form-field {
  margin: 4px 4px 4px 0;
  max-height: 50px;

  &.operator-field {
    margin: 4px 0;
  }

  &.type-field {
    margin: 4px 4px 4px 0;
  }
}

button {
  display: block;
  width: 96px !important;
  text-align: center !important;
  font-size: 12px;

  .mat-button-wrapper {
    text-align: center !important;
  }

}

.plain-column {
  max-width: 100%;
  line-height: 16px;
  word-wrap: break-word;
  white-space: normal;
}

.cell-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-chip {
  color: white;
  font-size: 14px;
  line-height: 15px !important;
  font-weight: normal !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px;

  padding: 12px 8px;
  border-radius: 12px;
  min-height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;


  &.CHIP {
    &.SUCCESS {
      background-color: green !important;
    }

    &.DANGER {
      background-color: red !important;
    }

    &.WARNING {
      background-color: orange !important;
    }

    &.NORMAL {
      background-color: VAR(--color-primary) !important;
    }
  }


}


.filter-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  .filter-option-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background: VAR(--color-primary-transparent-6);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: VAR(--color-primary-darker);
    font-size: 16px;
    text-align: center;
    line-height: 30px;

  }

  .filter-option-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: VAR(--primary-font) !important;
    line-height: 30px;
    height: 30px;
    text-align: center;
    margin-right: 16px;
    font-size: 14px;
    color: VAR(--color-primary-darker);
  }
}
