<div fxLayout="row wrap">
  <div class="info-title" fxFlex="100">{{title}}</div>
  <div class="info-box" fxFlex="100" fxLayout="row">
    <div class="info-value" [ngClass]="type === FieldType.VALUE ? ' value' : ' text'" fxFlex="100">{{value}}</div>
  </div>
</div>
