.info-card {
  max-width: 100% !important;
  width: 100% !important;
}

.info-card-wrapper{
  padding: 16px;
}


.info-box-container {
  padding-left: 8px;
  padding-right: 8px;
}

.section-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
  margin-bottom: 16px;
  margin-top: 32px;
}
