
input {
  display: none !important;
}

.mat-form-field {
  display: none !important;
}

.file-input {
  margin-top: 16px;
  height: 60px !important;
}

.file-input-box {
  box-sizing: content-box;
  position: relative;
  height: 40px;
  border-radius: 4px;
  border: 1px solid VAR(--color-primary-lighter);
}

.progress-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}


.label-box {
  z-index: 10;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 80%;
  vertical-align: center;
  text-align: left;
  line-height: 40px;
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}


.action-button {
  cursor: pointer;
  z-index: 10;
  padding-top: 6px;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 20%;
  vertical-align: center;
  text-align: center;
  line-height: 40px;
}

.mat-progress-bar {
  height: 40px !important;
  cursor: none;
}


::ng-deep .mat-progress-bar-fill::after {
  background-color: VAR(--color-primary-lighter);
}

::ng-deep .mat-progress-bar-buffer {
  background: VAR(--white-color);
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}


.validation-error {
  height: 12px;
  line-height: 12px;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  color: VAR(--color-error);
  font-size: 12px;
  padding-left: 16px;
}
