::ng-deep {
  .slider-container {
    .ngx-slider {


      .ngx-slider-tick {
        background: lightgray !important;

        &.ngx-slider-selected {
          background: black !important;
        }
      }


      .ngx-slider-bar {
        background: lightgray;
      }

      .ngx-slider-selection {
        background: black;
      }

      .ngx-slider-pointer {
        background-color: black;
        outline: none !important;

        &.ngx-slider-active {
          &::after {
            background: lightgray;
          }
        }
      }
    }
  }
}
